<h1 class=" text-center"> All Reciepes </h1>
<div class="text-center">
  <button class="btn btn-success m-1 text-right" (click)="displayAddRecipe=true">Add Recipe</button>
</div>
<div class="container text-center">
    <p-table [value]="recipes" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr >
          <th>Name</th>
          <th>Ingredients</th>
          <th>Steps</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-recipe>
        <tr>
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.ingredients }}</td>
          <td>{{ recipe.steps }}</td>
          <td><img src="{{ recipe.image }}" height="30px"/></td>
          <td>
            <button
            pButton
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2" (click)="editRecipe(recipe)">
          </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
</div>

<app-add-edit-recipe [displayAddRecipe]="displayAddRecipe"
[selectedRecipe]="selectedRecipe"
 (clickClose)="hideAddModel($event)"
 (clickAddRecipe)="saveRecipeToList($event)">
 </app-add-edit-recipe>
<p-toast position="bottom-right"></p-toast>


