<h1 class=" text-center"> All Reciepes </h1>
<div class="text-center">
  <!-- <button type="button" class="btn btn-primary center"  >Add new</button> -->
  <app-add-edit></app-add-edit>
</div>
<div class="container text-center">
    <table class="table ">
      <thead>
        <tr >
          <th>Name</th>
          <th>Ingredients</th>
          <th>Steps</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of recipe">
          <td>{{ item.Name }}</td>
          <td>{{ item.Ingredients }}</td>
          <td>{{ item.Steps }}</td>
          <td>{{ item.Image }}</td>
          <td>
            <a class="btn btn-danger">Delete</a>
            <a class="btn btn-warning">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  