
<button mat-button class="btn btn-primary" (click)="openDialog()">Add new</button>
<ng-template #popupFormTemplate>
  <h2 mat-dialog-title>Add new recipe</h2>
  <mat-dialog-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Name"  required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ingredients"  required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Steps"  required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Image</mat-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="submitForm()">Submit</button>
  </mat-dialog-actions>
</ng-template>
